<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Quora Posts</h1>
    <div class="all-posts">
    <% for(post of posts){ %>
        <div class="posts">
            <h3 class="user">@<%= post.username %></h3>
            <h4 class="content"><%= post.content %></h4>
            <a href="http://localhost:8080/posts/id/<%=post.id%>"><button>details</button></a>
            <a href="http://localhost:8080/posts/id/<%=post.id%>/edit"><button id="edit">edit</button></a>
              <form action="/posts/id/<%=post.id%>?_method=DELETE">
                  <button id="edit">delete</button>
              </form>

        </div>
    <% } %>
    </div>
    <div class="btn-box">
    <a href="http://localhost:8080/posts/new">
         <button class="add-btn">ADD NEW POST</button>
    </a>
    </div>
</body>
</html>